In [1]:
import pandas as pd

In [2]:
cities_path = "cities.csv"

# Output file
output_data_file = "data.html"

# Read the data files
cities_data = pd.read_csv(cities_path)

In [3]:
cities_data.set_index('City_ID', inplace=True)
cities_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,Elbistan,38.2059,37.1983,36.32,90,73,1.05,TR,1612899031
1,Okha,53.5739,142.9478,0.91,93,52,11.36,RU,1612899032
2,Mahébourg,-20.4081,57.7000,78.80,78,20,4.61,MU,1612899034
3,Laas,46.6166,10.7002,42.80,65,75,4.61,IT,1612899036
4,Ilulissat,69.2167,-51.1000,19.40,45,1,9.22,GL,1612899037
...,...,...,...,...,...,...,...,...,...
591,Tyul'gan,52.3405,56.1660,-20.18,88,28,2.06,RU,1612900274
592,Catuday,16.2923,119.8062,75.78,81,87,14.16,PH,1612900275
593,Tabas,33.5959,56.9244,54.45,41,0,1.50,IR,1612900115
594,Marawi,7.9986,124.2928,73.99,94,83,4.00,PH,1612900278
595,Ishigaki,24.3448,124.1572,68.13,74,99,18.54,JP,1612900272

In [4]:
cities_data.to_html(output_data_file)